<%= turbo_frame_tag "like_button" do%>
  <%= button_to toggle_like_path , method: :post, class: "like-button", params:{ like: {likeable_id: likeable.id,
  likeable_type: likeable.class.to_s}} do%>
    <span class="material-symbols-outlined <%= current_user.likes?(likeable) ? "liked" : "" %>">
      favorite
    </span>
  <% end %>
<% end %>