<%= turbo_frame_tag "followers" do%>
  <div class="followers">
    <h2>Followers</h2>
    <ul class="follows-container" style="display:grid; gap:15px;">
      <% @followers.each do |follower| %>
        <%= render partial: "follow" ,locals:{follow: follower , follower: true , pending_request: current_user.sent_request?(follower)} %>
      <% end %>
    </ul>
  </div>
<% end %>
