 <%= form_with model: @post do |f|  %>
  <div class="field">
    <%= f.text_area :content %>
  </div>
  <div class="actions-comment">
    <%= f.submit @post.persisted? ? "Edit" : "Post" %>
    <%= link_to 'Cancel', '#', data: { turbo_action: 'replace', turbo_frame: 'post-form' } %>
  </div>
<% end %>