/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 li{
  list-style-type: none;
  margin: 0;
  padding: 0;

}
input[type="text"], input[type="password"], input[type="email"]{
  width: 100%;
  height: 30px;
  border-radius: 10px;
  border: 0px;
  padding: 5px;
  font-weight: bold;
}
input[type="submit"]{
  width: 100%;
  height: 30px;
  border-radius: 10px;
  border: 0px;
  padding: 5px;
  background-color: #03DAC6;
  font-weight: bold;
}
input[type="checkbox"]{
  height: 10px;
}
a{
  display: inline-block;
  width: 100%;
  height: 30px;
  border-radius: 10px;
  border: 0px;
  padding: 5px;
  background-color: #03dac581;
  font-weight: 550;
  text-align: center;
  text-decoration: none;
  color: black;

}
body{
  background-color: #121212;
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
button{
cursor: pointer;
width: 100px;
height: 30px;
border: 0px;
border-radius: 10px;
}
.home-button button{
background-color: #03DAC6;
color: black;
font-weight: bold;
}
.button{
  background-color: #C38FFF;
  color: black;
  font-weight: bold;
}
.right button{
background-color: #C38FFF;
color: black;
font-weight: bold;

}
body, .grid-container{
min-height: 100vh;
}
.grid{
display:grid;
}
.grid-container{
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  grid-gap: 10px;
}
.grid-nav{
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 10px;

}
nav{
display:grid;
align-content: center;
background-color: #1F1F1F;
font-weight: bold;
padding-left: 30px;
padding-right:30px;
}
.right{
justify-self: end;
display:grid;
grid-template-columns: 1fr 1fr;
grid-gap: 10px;
}
.home-button{
justify-self: start;
}
footer{
display:flex;
justify-content: center;
align-items: center;
background-color: #1F1F1F;
color:#737373;
}
.content{
  display:grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: 1fr 2fr 1fr;
  color: white;
}
.main{
  display:grid;
  align-content: center;
  justify-content: center;
}
.devise-new , .devise-login{
  display:grid;
  padding:25px;
  background-color:#1F1F1F ;
  border-radius: 25px;
}
.new_user{
  display:grid;
  gap:10px;
}
.devise-shared{
  padding-top: 10px;
  display:grid;
}
textarea{
  background-color: #1E1E1E;
  color: white;
  border: 2px solid black;
  padding: 12px 20px;
  border-radius: 20px;
  width: 600px;
  height: 400px;
  resize:none;
}
.post-content{
  background-color: #1E1E1E;
  color: white;
  padding: 12px 20px;
  border-radius: 20px;
  width: 600px;
  height: 400px;
}